:root {
    --light-grey: #D5E1EF;
    --dark-navy: #1F314F;
    --grey: #68778D;
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: var(--light-grey);
    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
.card {
    width: 320px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 25px 25px 0 hsla(0, 0%, 0%, .0477);
    overflow: hidden;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 40px;
    flex-direction: column;
}
.card-image {
    width: 100%;
    border-radius: 10px;

}

.card-title {
    font-size: 22px;
    line-height: 28px; /*120%*/
    font-weight: bold;
    color: var(--dark-navy);
    text-align: center;
    margin-top: 24px;
    margin-bottom: 0;
}
.card-description{
    font-size: 15px;
    line-height: 19px; /*140%*/
    letter-spacing: 0.19px;
    color: var(--grey);
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;

}